.DestinationTemplate{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 80px;

    .imgContainer{
        width: 50%;
        margin-left: 20px;
        height: 350px;
        img{
        width: 50%;
        margin-right: 50px;
    }
    }
    
    .description{
        width: 50%;
        ul{
            list-style-type: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
            li{
                font-size: 13px;
                font-weight: 100;
                margin-right: 20px;
                color: white;
                font-weight: bold;
                // text-align: left;
                padding: 0;
                color: #D0D6F9;
                cursor: pointer;
            }
        }
        h2{
            color: white;
            font-size: 100px;
            font-weight: 100;
            margin: 20px 0;
            text-align: left;

        }
        p{
            color: #D0D6F9;
            width: 60%;
            text-align: left;
            font-size: 20px;
           

        }
        .stats{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 70%;
            p{
                width: 100%;
                color: #D0D6F9;
                font-size: 13px;
            }
            span{
                color: white;
                text-align: left;
                font-size: 28px;
            }
        }
    }
}

@media screen and (max-width:800px){
    .DestinationTemplate{
        flex-direction: column;
        .imgContainer{
            width: 100%;
            margin-bottom: 50px;
        }
        .description{
            width: 100%;
           ul{
               justify-content: center;
               margin-top: 20px;

           }
           h2{
               text-align: center;
           }
           p{
               text-align: center;
               width: 80%;
               margin: auto;
           }
           .stats{
               margin-top: 30px;
               width: 90%;
               flex-direction: column;
               border-top: .5px solid #979797;
               margin: 20px auto;

               p{
                   margin-top: 20px;
               }
           }
        }
    }
}