.Homepage{
    background: url("../../assets/Homepage/wallpaper.jpg") no-repeat center top  ;
    background-size: cover;
    height: 100vh;
    .showcase{
        display: flex;
        height: 70%;
        align-items: flex-end;
        .description{
            width: 50%;
            h2{
                color: #ffffff;
                margin: 0;
                text-transform: uppercase;
            }
            h1{
                color: #D0D6F9;
                font-size: 150px;
                text-transform: uppercase;
                margin: 0;
            }
            p{
                color: #ffffff;
                width: 100%;
                text-align: center;
            }

        }
        .explore{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            width: 50%;
            height: 100%;
            div{
                width: 200px;
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: #ffffff;
            }
           

        }
    }
}